<?xml version="1.0"?>

<model>
  <name>gazebo_ros_four_wheel_steering test vehicle</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marcel Zeilinger</name>
    <email>marcel.zeilinger@ait.ac.at</email>
  </author>

  <description>
    Minimal model to test the gazebo_ros_four_wheel_steering plugin
  </description>
</model>
