<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(arg gazebo_ros_four_wheel_steering_prefix)/urdf/axle.urdf.xacro" />
  <!-- 
    front_origin_x and x can in most cases be equal. They are potentially different if in the URDF
    part of the model, the parent of an axle is not the vehicle center
  -->
  <xacro:macro
      name="four_wheel_steering"
      params="front_parent rear_parent front_origin_x rear_origin_x axle_width gear_x socket_x socket_y rod_x rod_y z z_sdf">
    <xacro:axle
        prefix="front"
        parent="${front_parent}"
        x="${front_origin_x}"
        width="${axle_width}"
        gear_x="${gear_x}"
        socket_x="${socket_x}"
        socket_y="${socket_y}"
        rod_x="${rod_x}"
        rod_y="${rod_y}"
        z="${z}"
        z_sdf="${z_sdf}">
    </xacro:axle>
    <xacro:axle
        prefix="rear"
        parent="${rear_parent}"
        x="${rear_origin_x}"
        width="${axle_width}"
        gear_x="${-gear_x}"
        socket_x="${-socket_x}"
        socket_y="${socket_y}"
        rod_x="${-rod_x}"
        rod_y="${rod_y}"
        z="${z}"
        z_sdf="${z_sdf}">
    </xacro:axle>
  </xacro:macro>
</robot>
